.area-left .disc-content {
  height: 186px;
  margin: 20px 0 37px;
  border: 1px solid #d3d3d3;
}
.area-left .disc-content .inner {
  position: relative;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 0 24px;
  background: #f5f5f5;
  border: 1px solid #fff;
}
.area-left .disc-content .inner .roll {
  flex: 1;
  display: flex;
  width: 636px;
  height: 100%;
  overflow: hidden;
}
.area-left .disc-content .inner .control {
  position: absolute;
  top: 70px;
  width: 17px;
  height: 17px;
  background: url(../images/user-login-bgc.png);
}
.area-left .disc-content .inner .left-btn {
  left: 2px;
  background-position: -260px -75px;
}
.area-left .disc-content .inner .right-btn {
  right: 2px;
  background-position: -300px -75px;
}
.area-left .disc-content .inner .new-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding-top: 15px;
}
.area-left .disc-content .inner .new-list .item {
  width: 118px;
  height: 150px;
  background: url(../images/user-login-bgc.png) no-repeat -260px 100px;
}
.area-left .disc-content .inner .new-list .item .album {
  position: relative;
}
.area-left .disc-content .inner .new-list .msk {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 118px;
  height: 100px;
  background: url(../images/new-coverall.png);
  background-position: 0 -570px;
}
.area-left .disc-content .inner .new-list .play {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 8px;
  left: 72px;
  width: 22px;
  height: 22px;
  background: url(../images/new-iconall.png);
  background-position: 0 -85px;
}
.area-left .disc-content .inner .new-list .msk:hover + .play,
.area-left .disc-content .inner .new-list .play:hover {
  display: block;
}
.area-left .disc-content .inner .new-list .f-thide {
  margin-top: 5px;
  padding-right: 10px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.area-left .disc-content .inner .new-list .desc {
  color: #000;
}
.area-left .disc-content .inner .new-list .author {
  color: #666;
}
.area-left .disc-content .inner .new-list .desc:hover,
.area-left .disc-content .inner .new-list .author:hover {
  text-decoration: underline;
}
