body,
h1,
h2,
h3,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
li {
  list-style: none;
}
